# Terraform-Artefakte
*.tfstate
*.tfstate.*
.terraform/

# Terraform Lock-Dateien
.terraform.lock.hcl

# AWS secrets
infrastructure/secrets.tf

# Webseite wird nicht wie geplant über Route53 ausgeliefert, sondern über CloudFront
# Für den Fall dass Route53 in Zukunft genutzt werden soll, können die Dateien genutzt/angepasst werden   
infrastructure/route53.tf
infrastructure/acm.tf

# Ignoriere ZIP-Dateien
*.zip
# Aber nicht diese
!backend.zip
!psycopg2-layer.zip

# Python cache (für backend/)
__pycache__/
*.pyc
*.pyo



